[Unit]
Description=Shelley-the-Agent
BindsTo=shelley.socket
After=shelley.socket
ConditionPathExists=/usr/local/bin/shelley

[Service]
Type=exec
User=lk
Group=lk
WorkingDirectory=/home/lk
ExecStart=/usr/local/bin/shelley -debug -db /home/lk/.config/shelley/shelley.db -config /exe.dev/shelley.json serve -systemd-activation -require-header X-Exedev-Userid
Restart=on-failure
RestartSec=5
Environment=HOME=/home/lk
Environment=USER=lk
Environment=PATH=/headless-shell:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
KillMode=process
TimeoutStopSec=10
OOMScoreAdjust=-1

StandardOutput=journal
StandardError=journal
SyslogIdentifier=shelley

[Install]
WantedBy=multi-user.target
